{% extends 'base.html' %}
{% load static %}
{% block title %} | Changement de mot de passe {% endblock %}

{% block content %}

<div class="container">

	<div class="d-flex flex-column">
		  <div style="height: 230px; font-size:25px; text-align:center">
		    Nous vous avons transmis un mail pour modifier votre mot de pass si un compte existe avec le mail enregistré.
            Vous le recevrez dans quelques instants.
          </div>
		  <div style="height: 230px; font-size:25px; text-align:center">
            Si vous n'avez pas recu de mail, assurez vous d'avoir renseigné l'adresse avec laquelle vous vous êtes enregistrée.
		    Et vérifiez votre dossier Spam.
          </div>
		  <div style="height: 150px; font-size:35px; text-align:center;"><a href="{% url 'index' %}"> ...Retournez à la page Accueil...</a></div>
	</div>
</div>

{% endblock %}