{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %} | Généalogie {% endblock %}

{% block style %}
/*CSS*/
html, body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin:0;
  overflow: hidden;
  font-family: Helvetica;
}
#tree{
  width:100%;
  height:100%;
}
{% endblock %}

{% block head %}
<script src="https://balkan.app/js/familytree.js"></script> 
{% endblock %}

{% block content %}
<!-- Breadcrumb -->
<section id="bc" class="mt-3">
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">
            <i class="fas fa-home"></i> Accueil</a>
        </li>
        <li class="breadcrumb-item active"> Membres de la famille</li>
      </ol>
    </nav>
  </div>
</section>

<section>
  <div id="tree"/>


</section>

<script>

//JavaScript

FamilyTree.templates.group = Object.assign({}, FamilyTree.templates.tommy);
FamilyTree.templates.group.size = [250, 120];
FamilyTree.templates.group.node = 
    '<rect rx="20" ry="20" x="0" y="0" height="{h}" width="{w}" fill="#ffd333" stroke-width="3" stroke="#aeaeae"></rect>';
FamilyTree.templates.group.nodeMenuButton = "";
FamilyTree.templates.group.field_0 = 
    '<text data-width="220" style="font-size: 18px;" fill="black" x="{cw}" y="30" text-anchor="middle">'
    + '{val}</text>';
FamilyTree.templates.group.field_1 = '';

FamilyTree.templates.group.ripple = {
    radius: 50,
    color: "#aeaeae"
};

FamilyTree.templates.group.min = Object.assign({}, FamilyTree.templates.group);
FamilyTree.templates.group.min.img_0 = "";
FamilyTree.templates.group.min.field_0 = '{val}',
FamilyTree.templates.group.min.field_1 = "";

var family = new FamilyTree(document.getElementById("tree"), {
    mode: 'dark',
    mouseScrool: FamilyTree.none,
    nodeBinding: {
        field_0: "name"
    },
    tags: {
        "node-with-subtrees": {
            min: true,
            template: "group",
            subTreeConfig: {
                siblingSeparation: 3,
                columns: 2
            }
        }
    }
});

family.on('field', function (sender, args) {
    if (args.node.min) {
        if (args.name == "name") {
            var count = args.node.stChildrenIds.length > 5 ? 5 : args.node.stChildrenIds.length;
            var x = args.node.w / 2 - (count * 64) / 2;
            args.value = "";
            for (var i = 0; i < count; i++) {
                var data = sender.get(args.node.stChildrenIds[i]);
                if (data.name == "uncle")
                    args.value += 
                        '<rect x="' + (x + i * 64) + '" y="55" width="64" height="32" fill="rgb(3, 155, 229)" rx="5" ry="5"></rect>'
                        + '<text x="' + (x + i * 64 + 20)  + '" y="75" fill="#fff">uncle</text>';
                else 
                    args.value += 
                        '<rect x="' + (x + i * 64) + '" y="55" width="64" height="32" fill="rgb(245, 124, 0)" rx="5" ry="5"></rect>'
                        + '<text x="' + (x + i * 64 + 20) + '" y="75" fill="#fff">aunt</text>';
             
            }
        }
    }
});

family.on('click', function (sender, args) {
    if (args.node.templateName == "group") {
        if (args.node.min ) {
            sender.maximize(args.node.id);
        }
        else {
            sender.minimize(args.node.id);
        }
        return false;
    } 
});

family.load([
     //manage grands parents du partenaire de la personne connectée
     //{ id: 22, pids: [21], name: "{{grandfather.last_name}} {{grandfather.first_name}}", gender: "{{grandfather.gender}}" },
     //{ id: 21, pids: [22], name: "{{grandmother.last_name}} {{grandmother.first_name}}", gender: "{{grandmother.gender}}" },
    
    //manage grands parents personne connectée
 
    //{ id: 22, pids: [21], name: "{{grandfather.last_name}} {{grandfather.first_name}}", gender: "{{grandfather.gender}}" },
    //{ id: 21, pids: [22], name: "{{grandmother.last_name}} {{grandmother.first_name}}", gender: "{{grandmother.gender}}" },
        
    //manage parents of partner de la personne connectée
    

    //manage parents personne connectée
     
    //premier cas la personne connectée a des parents

    {% if father.person.mother.user.id and father.person.father.user.id %}
       { id: {{father.id}}, mid: {{father.person.mother.user.id}}, fid: {{father.person.father.user.id}}, pids: [{{mother.id}}], name: "{{father.last_name}} {{father.first_name}}", gender: "male"},
    {% else %}
       { id: {{father.id}}, pids: [{{mother.id}}], name: "{{father.last_name}} {{father.first_name}}", gender: "male"},
    {% endif %}
    
    {% if mother.person.mother.user.id and mother.person.father.user.id %}
       { id: {{mother.id}}, mid: {{mother.person.mother.user.id}}, fid: {{mother.person.father.user.id}}, pids: [{{father.id}}], name: "{{mother.last_name}} {{mother.first_name}}", gender: "female" },
    {% else %}
       { id: {{mother.id}}, pids: [{{father.id}}], name: "{{mother.last_name}} {{mother.first_name}}", gender: "female" },
    {% endif %}
   
    //personne connectée et son partenaire
    
       {% if mother.id and father.id %}
          {% if partner.id %}
            { id: {{person.user.id}}, mid: {{mother.id}}, pids: [{{partner.id}}], fid: {{father.id}}, pids: [{{partner.id}}], name: "{{person.user.last_name}} {{person.user.first_name}}", gender: "{{person.gender}}" },
            {% else %}
             { id: {{person.user.id}}, mid: {{mother.id}}, pids: [{{partner.id}}], fid: {{father.id}}, name: "{{person.user.last_name}} {{person.user.first_name}}", gender: "{{person.gender}}" },
            {% endif %}

       {% else %}
           {% if partner.id %}
             { id: {{person.user.id}}, pids: [{{partner.id}}], name: "{{person.user.last_name}} {{person.user.first_name}}", gender: "{{person.gender}}" },
             {% else %}
             { id: {{person.user.id}}, name: "{{person.user.last_name}} {{person.user.first_name}}", gender: "{{person.gender}}" },
          {% endif %}
      {% endif %}

    {% if partner.person.mother.id and partner.person.father.id %}
                { id: {{partner.id}}, mid: {{partner.person.mother.id}}, fid: {{partner.person.father.id}}, pids: [{{person.user.id}}], name: " {{partner.last_name}} {{partner.first_name}} ", gender: "{{partner.person.gender}}" },
          {% elif partner.person.mother.id  %}
                { id: {{partner.id}}, mid: {{partner.person.mother.id}}, fid: '10002', pids: [{{person.user.id}}], name: " {{partner.last_name}} {{partner.first_name}}", gender: "{{partner.person.gender}}" },
                { id: {{partner.person.mother.id}}, pids:[10002], name: " {{partner.person.mother.last_name}} {{partner.person.mother.first_name}}", gender: "female" },
                { id: 10002, pids: [{{partner.person.mother.id}}], name: " Information non fournie", gender: "male" },
          {% elif partner.person.father.id  %}
                { id: {{partner.id}}, mid: '10001', fid: {{partner.person.father.id}}, pids: [{{person.user.id}}], name: " {{partner.last_name}} {{partner.first_name}}", gender: "{{partner.person.gender}}" },
                { id: '10001', pids:[{{partner.person.father.id}}], name:" Information non fournie" , gender: "female" },
                { id: {{partner.person.father.id}}, pids: '10001', name: " {{partner.person.father.last_name}} {{partner.person.father.first_name}}", gender: "male" },
         {% else %}
                { id: {{partner.id}}, mid: '10001', fid: '10002', pids: [{{person.user.id}}], name: " {{partner.last_name}} {{partner.first_name}}", gender: "{{partner.person.gender}}" },
                { id: 10001, pids:[10002], name: " Information non fournie", gender: "female" },
                { id: 10002, pids: [10001], name: " Information non fournie", gender: "male" },
     {% endif %}

    //manage chidren and their partner
    {% if person.gender == 'male' %}
      {% for child in children %}
         {% for small_child in children_children%}
             {% if child.user.id == small_child.mother_id %}
                  { id: {{child.user.id}}, mid: {{partner.id}}, pids:[{{small_child.father_id}}], fid: {{person.user.id}}, name: "{{child.user.last_name}} {{child.user.first_name}}", gender: "{{child.gender}}" },
                {% elif child.user.id == small_child.father_id  %}
                  { id: {{child.user.id}}, mid: {{partner.id}}, pids:[{{small_child.mother_id}}], fid: {{person.user.id}}, name: "{{child.user.last_name}} {{child.user.first_name}}", gender: "{{child.gender}}" },
                {% else %}
                  { id: {{child.user.id}}, mid: {{partner.id}}, fid: {{person.user.id}}, name: "{{child.user.last_name}} {{child.user.first_name}}", gender: "{{child.gender}}" },
            {% endif %}
          {% endfor %}
      {% endfor %}
    {% else %}
     {% for child in children %}
      {% for small_child in children_children%}
          {% if child.user.id == small_child.mother_id %}
               { id: {{child.user.id}}, mid: {{person.user.id}}, pids:[{{small_child.father_id}}], fid: {{partner.id}}, name: "{{child.user.last_name}} {{child.user.first_name}}", gender: "{{child.gender}}" },
             {% elif child.user.id == small_child.father_id  %}
               { id: {{child.user.id}}, mid: {{person.user.id}}, pids:[{{small_child.mother_id}}], fid: {{partner.id}}, name: "{{child.user.last_name}} {{child.user.first_name}}", gender: "{{child.gender}}" },
             {% else %}
               { id: {{child.user.id}}, mid: {{person.user.id}}, fid: {{partner.id}}, name: "{{child.user.last_name}} {{child.user.first_name}}", gender: "{{child.gender}}" },
         {% endif %}
       {% endfor %}
    {% endfor %}
    {% endif %}

    //manage petits enfants
     
     {% for child in children_children %}
         { id: {{child.user.id}}, mid: {{child.mother_id}}, fid: {{child.father_id}}, name: "{{child.user.last_name}} {{child.user.first_name}}", gender: "{{child.gender}}" },
         { id: {{child.mother_id}}, pids:[{{child.father_id}}] ,name: "{{child.mother.last_name}} {{child.mother.first_name}}", gender: "female" },
     {% endfor %}
    ]);

</script>
{% endblock %}
