{% extends 'base.html' %}
{% load static %}

{% block title %} | Dashboard {% endblock %}

{% block content %}
 
<section id="showcase">
  <div class="container text-center" style="background-color:#FF00FF !important">
    <div class="home-search p-5" style="background-color:#C0392B  !important" >
      <div class="overlay p-5" style="background-color:#C0392B  text-dark !important">
        <h2 class="display-6 mb-4" style="text-transform: uppercase">
          Bienvenue dans la section Profil
        </h2>                  
       
          <div class="row" style="height:200px;">
          <button class="col-md-6" style="background-color:#C0392B !important">
            <a class="nav-link" href="{% url 'profile' %}"><h1 style="text-transform: uppercase">Visualiser profil</h></a>
           </button>
           
           <button class="col-md-6 bg-light" >
             <a class="nav-link" href="{% url 'update_profile' %}"> <h1 style="text-transform: uppercase">Mettre à jour les informations</h1></a>
           </button>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</section>

{% endblock %}

  


